@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    /* outline:1px solid lime; */
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.badacontainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#6363cb, #4d1010);
}
.container{
    padding: 1.5rem;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
    background-color: #EDF2F7;
    border: 4px solid transparent;
    border-image: linear-gradient(90deg,#40D1C8 0%,#C084FC 100% )1;
    width: 30%;
    aspect-ratio: 1/1;
    font-family: 'Inter',sans-serif;
    font-variant-numeric: tabular-nums;
    margin: auto;
}

@media (max-width:1230px){
    .container{
        transform: scale(1.7);
    }
}
@media (max-width:1070px){
    .container{
        width: 45%;
    }
}
@media (max-width:728px){
    .container{
        width: 50%;
    }
}
@media (max-width:500px){
    .container{
        width: 50%;
    }
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    border-radius: 10px;
}
.header div{
    font-size: 2rem;
    font-weight: 600;
    color: #2D3748;
}
 
.month{
    width: 100%;
    height: 100%;
}
.month ul{
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}
.month ul li{
    color: #A0AEC0;
    list-style: none;
    font-size: 1.5rem;
    width: 14.2857%;
    display: flex;
    justify-content: center;
}
@media (max-width:500px){
    .month ul li{
        font-size: 1.2rem;
    }
}

.days{
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
}
.days div{
    color: #2D3748;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14.2857%;
    aspect-ratio: 1/1;
    font-size: 2rem;
    cursor: pointer;
    position: relative;
}

@media (max-width:592px){
    .container{
        padding: 0rem;
        width: 57%;
    }
}
#add{
    width: 4rem;
    height: 4rem;
    border: 0.5px solid grey;
    font-size: 2.5rem;
    border-radius: 50%;
    background-color: rgb(38, 21, 83);
    color: aqua;
    cursor: pointer;
}
.addtext{
    font-size: 2.5rem;
    color: rgb(222, 230, 231);
}
.modal{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
}
.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(151, 126, 126);
    padding: 20px;
    border-radius: 8px;
    min-width: 300px;
    text-align: center;
    gap: 2rem;
}
.task ul li{
    font-size: 2.2rem;
    color: aqua;
}
.hii{
    margin-top: 2rem;
}
#input{
    padding: 1rem;
    border-radius: 10px;
    border: 0px;
    font-size: 1.5rem;
    color: aqua;
    background-color: rgb(37, 37, 37);
}
#save,#cancel{
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.3rem;
    color: brown;
    cursor: pointer;
}
.test{
    color: rgb(13, 2, 46);
    border-radius: 50%;
}